.contact-all-wrapper {
  width: 50%;
  margin: auto;
  display: block !important;
  background-color: var(--color-f);
  height: auto;
}
.contact-all-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.contact-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.img-wrapper img {
  margin: auto;
}
.contact-items,
.img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.social-icons {
  padding: 5px;
}
.social-icons i {
  color: var(--color-d);
}
.cv-wrapper {
  width: 50%;
  margin: auto;
}
.sIcon:hover {
  fill: var(--color-gd);
  transform: scale(1.01);
}

@media screen and (min-width: 900px) {
  .contact-all-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-f);
    height: auto;
  }
  .contact-all-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    box-shadow: 2px 2px 5px var(--color-d);
  }
  .contact-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  .img-wrapper {
    padding: 10px;
  }
  .contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .social-icons {
    padding: 10px;
  }
  .sIcon {
    fill: var(--color-g);
    width: var(--space-lg);
    height: var(--space-lg);
  }
  .cv-wrapper {
    width: 50%;
    margin: auto;
  }

  .social-icons i:hover {
    color: var(--color-gdd);
    transform: scale(1.01);
  }
}
