.App {
<<<<<<< HEAD
<<<<<<< HEAD
=======
  position: absolute;
  top: 0;
>>>>>>> a8ed75d99ea705db763e51d98a5ce348a7138951
=======
  position: absolute;
  top: 0;
>>>>>>> a8ed75d99ea705db763e51d98a5ce348a7138951
  text-align: center;
}
