.footer-wrapper{
    display:flex;
    justify-content: center;
    padding:3rem;
    font-size: 0.8rem;
}

.footer-wrapper a:hover{
    color: var(--orange);
}

.footer-wrapper a{
    text-decoration: none;
    color:var(--gray);
}

.animate{
    color:red;
    font-size: 3rem;
}