.website-url{
    display: inline-block;
    color: var(--gray);
    text-decoration: none;
    letter-spacing: 0.2rem;
}
.website-url:hover{
    color: var(--orange);
    animation: url 0.5s forwards;
    -webkit-animation: url 0.5s forwards;
}

@keyframes social{
    0%{
        top:0px;
    }
    100%{
        top:-3px;
    }
}
