.footer {
  position: relative;
  width: 100%;
  display: block;
  padding: var(--space-lg);
  background-color: var(--color-f);
  box-shadow: 0px 0px 5px var(--color-g);
  text-align: center;
  margin: auto;
}
.my-cv {
  width: 50%;
  background-color: var(--color-g) !important;
  color: var(--color-f) !important;
}
.my-cv:hover {
  background-color: var(--color-r) !important;
  color: var(--color-g) !important;
  transform: scale(1.01);
}
.my-cv-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
-------------------------------------------------
                 Media-Queries
-------------------------------------------------
*/

@media screen and (min-width: 900px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 16.3%;
    width: 100%;
    z-index: 200;
    display: block;
    text-align: center;
  }
  .my-cv {
    position: relative;
    width: 25%;
  }
}
